<h1>Homepage</h1>

<ul>
<li><a href = "/directors">All directors</a></li>
  <ul>
  <li>Youngest director</li> 
  <li>Eldest director</li> 
  </ul>
<li><a href = "/movies">All movies</a></li>
<li><a href = "/actors"> All actors</a></li>
</ul>